* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* header section */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #FF900E1A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    height: 150px;
    margin: 0 auto;
    padding: 0 25px;
}

.nav-title {
    width: 700px;
    font-size: 50px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* banner section */
.banner-container {
    text-align: center;
    background-color: #FF900E1A;
}

.banner {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.banner-title {
    width: 700px;
    font-size: 65px;
    padding-bottom: 25px;
}

.banner-details {
    width: 400px;
    font-size: 16px;
    color: #727272;
    padding-bottom: 33px;
}

.banner-btn,
.feature-btn {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 130px;
}

.banner-img {
    width: 1440px;
    height: 700px;
    margin: 50px auto;
}

/* features section */
.features-container {
    margin-top: 85px;
    display: flex;
    gap: 76px;
    justify-content: center;
    align-items: center;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 24px;
    gap: 24px;
}

.feature-title {
    width: 700px;
    font-size: 43px;
    margin-bottom: 24px;
}

.gray {
    color: #727272;
}

.peru {
    color: #FF900E;
}

.feature-details {
    color: #727272;
    width: 400px;
    font-size: 16px;
    margin-bottom: 32px;
}

/* feature version */
.feature-version {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 130px;
}

.feature-version-title {
    width: 500px;
    height: 106px;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.feature-version-sub-title {
    width: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-version-details {
    width: 400px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.feature-version-image {
    width: 800px;
    height: 1070px;
}

.features-btn {
    width: 258px;
    height: 109px;
    font-size: 30px;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 10px 42px;
    margin-top: -60px;
    margin-left: -60px;
}


/* some facts section */
.facts-section {
    margin-top: 130px;
    margin-left: 240px;
}

.fact-title {
    width: 258px;
    height: 40px;
    font-size: 30px;
}

.fact-details {
    width: 542px;
    height: 52px;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}

.fact-section-documents {
    display: flex;
    gap: 125px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 180px;
}

.box {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    transition: width 10s, height 10s;
}

.box:hover {
    background-color: lightpink;
    width: 280px;
    height: 280px;
}

.box-icon {
    width: 45.22px;
    height: 45.22px;
}

.box-info {
    width: 169px;
    height: 23px;
    font-size: 16px;
    color: #727272;
}

/* sponspor section */
.sponspor-section {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
}

.sponspor-title {
    font-size: 45px;
    margin-bottom: 24px;
}

.sponspor-details {
    width: 542px;
    height: 52px;
    font-size: 16px;
    color: #727272;
}

.sponspor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 155px;
    margin-bottom: 130px;
    mix-blend-mode: luminosity;
    opacity: .5px;
}

/* Contact  section styles */
.contact-section {
    margin-bottom: 80px;
}

.contact-form {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.contact-title {
    width: 500px;
    height: 53px;
    font-size: 45px;
    margin-bottom: 30px;
}

#contact-info {
    margin-top: 20px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 17px;
    background-color: #FF900E;
    color: #FFF4E7;
    border-radius: 8px;
    padding: 10px 40px 9px 15px;
    margin-bottom: 20px;
}

.contact-btn {
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.contact-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 200px;
    height: 100px;
}


/* security section styles */
.security-section {
    display: flex;
    justify-content: center;
    margin-bottom: 216px;
}

.security {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
}

.security-info {
    font-size: 20px;
    color: #424242;
}

/* responsive styles */
@media screen and (max-width: 576px) {
    nav>ul {
        flex-direction: column;
        gap: 5px;
        height: 80px;
        font-size: 15px;
    }

    nav>.nav-title {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .banner-title {
        width: 300px;
        font-size: 37px;
    }

    .banner-details {
        font-weight: 400px;
    }

    .banner-img {
        width: 100%;
        height: 30vh;
    }

    .banner-btn {
        font-size: 15px;
        width: ;
    }

    .features-container {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-title {
        width: 300px;
        margin-left: 10px;
    }

    .feature-details {
        width: 300px;
        font-size: 15px;
    }

    .feature-version {
        flex-direction: column;
        margin-left: 10px;
    }

    .feature-version-title {
        margin-top: 20px;
        width: 400px;
        font-size: 37px;
        margin-left: 50px;
    }

    .feature-version-sub-title {
        margin-left: 10px;
        width: 100%;
    }

    .feature-version-image {
        margin: 5px;
        width: 100%;
        height: 100vh;
    }

    .fact-title {
        width: 100px;
        font-size: 30px;
    }

    .fact-title {
        width: 258px;
        height: 50px;
    }

    .fact-details {
        width: 400px;
        margin-right: 20px;
    }

    .facts-section {
        margin-top: 30px;
        margin-left: 40px
    }

    .fact-section-documents {
        flex-direction: column;
    }

    .sponspor-title {
        font-size: 30px;
    }

    .sponspor-details {
        width: 400px;
        margin-left: 15px;
        font-size: 15px;
    }

    .sponspor-img {
        gap: 10px;
        justify-content: space-evenly;
        margin-bottom: 10px;
        display: grid;
        margin-left: 10px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .contact-title {
        width: 400px;
        height: 40px;
        margin-left: 40px;
        margin-bottom: 100px;
    }

    .security-info {
        font-size: 10px;
        width: 50%;
    }
}